<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../componets/barTop/index.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/request.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/register.css">

</head>

<body>
    <div class="nav"></div>

    <div class="register-box clear-fix">
        <div class="title">
            <h1>XXX商城注册</h1>
        </div>
        <div class="register-input">
            <div class="left">用户名</div>
            <input type="text" placeholder="请输入你的用户名">
            <p>
                只能由字母数字汉字下划线组成的6-14位字符
            </p>
        </div>

        <div class="register-input">
            <div class="left">密&nbsp;&nbsp;&nbsp;码</div>
            <input type="password" placeholder="请输入你密码">
            <p>
                只能由字母数字下划线组成的6-14位字符
            </p>
        </div>
        <div class="regiter-button">
            <button>注&nbsp;&nbsp;&nbsp;册</button>
        </div>
    </div>

</body>
<script>
    console.log(1);

    var inputs = document.querySelectorAll(".register-input input");
    var btn_register = document.querySelector(".regiter-button button")
    console.log(inputs);
    //点击输入框隐藏p标签
    inputs.forEach(function (item, index) {
        item.addEventListener("click", function (e) {
            var p = item.nextElementSibling;
            p.style.display = 'none';
        })
    })
    //输入验证
    inputs[0].addEventListener("keyup", function (e) {
        var userReg = /^[\w\u4e00-\u9fa5]{6,14}$/;
        let p = inputs[0].nextElementSibling;
        if (userReg.test(e.target.value)) {
            p.style.display = 'block';
            p.style.color = 'green';
            p.innerHTML = "验证通过"
        } else {
            p.style.display = 'block';
            p.style.color = 'red';
            p.innerHTML = "只能由字母数字汉字下划线组成的6-14位字符"
        }
    })
    inputs[1].addEventListener("keyup", function (e) {
        var passwordReg = /^[\w]{6,14}$/;
        let p = inputs[1].nextElementSibling;
        if (passwordReg.test(e.target.value)) {
            p.style.display = 'block';
            p.style.color = 'green';
            p.innerHTML = "验证通过"
        } else {
            p.style.display = 'block';
            p.style.color = 'red';
            p.innerHTML = "只能由字母数字下划线组成的6-14位字符"
        }
    })
    //导航栏
    btn_register.addEventListener("click",function(e){
        let username = inputs[0].value;
        let password = inputs[1].value;
        let userReg = /^[\w\u4e00-\u9fa5]{6,12}$/;
        let passwordReg = /^\w{6,12}$/;
        if(!userReg.test(username)){
           let p = inputs[0].nextElementSibling;
            p.style.display='block';
            return
        }
        if(!passwordReg.test(username)){
           let p = inputs[1].nextElementSibling;
            p.style.display='block';
            return
        }
        console.log('登录成功');
        api.Register({username:username,password:password},function(data){
            console.log(data);
            if(data.code == 1){
                alert("注册成功！")
                location.href = "./login.html";
            }else{
                alert("注册失败")
            }
        })
    })
    createNav({
        container: '.nav',
        logoUrl: '../assets/images/logo.png'
    })
   console.log(121323);


</script>

</html>